@model IEnumerable<MVCClaseSeis.Models.Dto.ContactDTO>

@{
    ViewBag.Title = "Index";
}

<h2>List Contacts</h2>

<div class="container-fluid bg-light p-3">
    <div class="d-flex justify-content-center align-items-center gap-3 flex-wrap">
        <!-- Botones de Crear -->
        <a href="@Url.Action("Create", "Contact")" class="btn btn-success">Create Contact</a>
        <a href="@Url.Action("Create", "Payment")" class="btn btn-success">Create New Payment</a>

        <!-- Botón de Buscar -->
        <a href="@Url.Action("Search", "Contact")" class="btn btn-info">Search Contact</a>

        <!-- Botón de Mostrar Reporte -->
        <a href="@Url.Action("Report", "Payment")" class="btn btn-warning">Report Payment</a>
    </div>
</div>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Last_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAdded)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.First_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Last_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAdded)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /*id = item.ContactID*/}) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */})
            </td>
        </tr>
    }

</table>
